body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
}
.input {
  vertical-align: top;
  text-align: center;
  height: 50px;
  width: 250px;
  font-size: 40px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255, 0.3);
  color: rgb(0, 0, 0, 0.7);
  border-radius: 20%;
  transition: 1s ease;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 150px;
}

.input:focus,
.input:hover {
  background: rgba(255, 230, 0, 0.3);
  outline: none;
  border: none;
}
.input::first-letter {
  color: rgba(255, 230, 0, 1);
}

button {
  vertical-align: top;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 90px;
  width: 90px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: bold;
  transition: 1s ease;
  margin-top: 10px;
}
button::first-letter {
  color: rgba(255, 230, 0, 0.8);
}
button:hover {
  background: rgba(255, 230, 0, 0.4);
}

.btn {
  margin-right: 50px;
}
section {
  padding: 30px;
  line-height: 5;
  transition: 1s ease;
}
section:hover {
  border-radius: 2%;
  background: rgba(255, 230, 0, 0.2);
}

.img2 {
  position: relative;
  width: 130px;
  height: 130px;
}
